
*{
    margin: 0;
    padding: 0;
}

.tree{
    height: 100vh;
    background-image: url(9.jpg);
    background-repeat:no-repeat;
    background-size: cover;
}
.track{
    background-image: url(track.jpeg);
    background-repeat: repeat-x;
    position: absolute;
    bottom: -55px;
    width: 1000vw;
    height: 20vh;
    animation: trackanimation 6s linear infinite;
}
.car{
    background-image: url(1.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 9rem;
    height: 9rem;
    position: absolute;
    bottom: 65px;
    left: 350px;
}

@keyframes wheelanimation{

    100%{
        transform: rotate(360deg);
    }
}
@keyframes trackanimation{
     
    100%{
        transform: translate(-500vw);
    }
}